/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #f97316; /* orange-500 */
    --color-secondary: #fb923c; /* orange-400 */
    --color-bg-primary: #ffffff;
    --color-text-base: #1f2937; /* gray-800 */
  }
}

.theme-white {
  --color-primary: #f97316; /* orange-500 */
  --color-secondary: #fb923c; /* orange-400 */
  --color-bg-primary: #ffffff;
  --color-text-base: #1f2937; /* gray-800 */
}
.theme-black {
  --color-primary: #fb923c; /* orange-400 */
  --color-secondary: #f97316; /* orange-500 */
  --color-bg-primary: #1f2937; /* gray-800 */
  --color-text-base: #f9fafb; /* gray-50 */
}

.theme-orange {
  --color-primary: hsl(25, 100%, 50%);
  --color-secondary: hsl(25, 100%, 65%);
}

.theme-purple {
  --color-primary: hsl(270, 100%, 50%);
  --color-secondary: hsl(270, 100%, 75%);
}

.theme-green {
  --color-primary: hsl(120, 100%, 50%);
  --color-secondary: hsl(120, 100%, 45%);
}

.theme-blue {
  --color-primary: hsl(220, 100%, 50%);
  --color-secondary: hsl(220, 100%, 75%);
}
